body {
    background-color: #e8e7ea;
    align-content: center;
    height: 100%;
    width: 100%;  
}

.top {
    height: 10px;
    width: 100%;
    background-color: #393837;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 010px;
}

.logo {
    
    background-color:;
    margin:auto;
    height: 110px;
    width: 120px;
    font-family: 'Montserrat', sans-serif;
    font-style: thin;
    font-size: 30px;
    font-weight: 100;
    vertical-align: text-bottom;
    color: #393837;
    line-height: 1.1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}

.buttons {
    
    background-color: ;
    height: 60px;
    margin:auto;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
	word-spacing: 50px;
    font-size: 10px;
    color: #393837;
    text-decoration: none;
}

a:active {
    text-decoration: none;
    color: #393837;
    cursor: pointer; cursor: hand;
}

a:hover {
    text-decoration: none;
    color: #393837;
    cursor: pointer; cursor: hand;
}

a:visited {
    text-decoration: none;
    color: #393837;
    cursor: pointer; cursor: hand;
}

a:link {
    text-decoration: none;
    color: #393837;
    cursor: pointer; cursor: hand;
}

.images {
    margin: auto;
    margin-left: -15px;
    margin-top: px;
    margin-bottom: 20px;
    align-content: top;
    padding-left: 10%;
    padding-right: 10%;
    
}
